:root
{
    --ds-colors-grid-light-grey-1: #282828;
    --ds-colors-grid-light-grey-2: rgba(193,196,192,0.1);
    --ds-colors-grid-light-grey-3: rgba(193,196,192,0.2);

    --ds-metrics-grid-100: 100;
}